body {
  background: #0e0e0e;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #bbbbbb;
}

input[type="text"],
input[type="password"] {
  background: #1e1e1e;
  border: 1px solid #444;
  padding: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  border-radius: 4px;
  color: #ffffff;
}

input[type="submit"] {
  background: #444;
  border: 1px solid #666;
  padding: 5px 10px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

div.page {
  background: #1e1e1e;
  border: 1px solid #333;
  width: 700px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

div.page h1 {
  background: #444;
  margin: 0;
  padding: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #000;
  font-weight: normal;
  font-size: 60px;
  border-radius: 10px 10px 0 0;
}

div.page div.navigation {
  background: #333;
  padding: 10px;
  color: #bbbbbb;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 0 0 10px 10px;
}

div.page div.navigation a {
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
}

div.page h2 {
  margin: 20px 0;
  color: #ffffff;
  text-shadow: 0 1px 2px #000;
}

div.page div.body {
  padding: 20px;
}

div.page div.footer {
  background: #333;
  color: #bbbbbb;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

div.page div.followstatus {
  border: 1px solid #444;
  background: #333;
  border-radius: 4px;
  padding: 10px;
  font-size: 13px;
  color: #bbbbbb;
}

div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps li {
  margin: 20px 0;
  padding: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid rgba(68, 68, 68, 0.5);
  border-radius: 10px;
  min-height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}


div.page ul.cheeps li img {
  float: left;
  padding: 0 15px 0 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #444;
}

div.page ul.cheeps li small {
  font-size: 0.9em;
  color: #bbbbbb;
}

div.page div.cheepbox {
  margin: 20px 0;
  padding: 20px;
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 10px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
}

div.page div.cheepbox input[type="text"] {
  width: calc(100% - 90px);
  margin-right: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid rgba(68, 68, 68, 0.5);
  border-radius: 10px;
  box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}

div.page div.cheepbox input[type="submit"] {
  width: 80px;
}

ul.message li {
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
}

div.error {
  margin: 20px 0;
  background: #442222;
  border: 1px solid #ff4d4d;
  border-radius: 4px;
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
}

.reaction-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reacted {
  background-color: #444;
}

.reactions-display {
  margin: 0 10px;
  max-width: fit-content;
  color: #bbbbbb;
}

.cheep-message {
  overflow-wrap: break-word;
  color: #ffffff;
}

.forgetMe {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

div.topics {
  width: 180px;
  height: 250px;
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 10px;
  background: #222;
  border: 1px solid #444;
  border-radius: 10px;
  color: #ffffff;
  min-height: 20px;
}

.timeline-header {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
}