@page "/"
@using Minitwit.Core.Entities
@using Minitwit.Core.Repository
@using Minitwit.Web.Pages

@using FluentValidation
@model Minitwit.Web.Pages.PublicModel

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@inject IValidator<CreateMessage> Validator
@inject IMessageRepository MessageRepository

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    @if (SignInManager.IsSignedIn(User))
    {
        @await Html.PartialAsync("Shared/_MessageBox", new NewMessage())
    }
    @if (Model.Messages?.Any() == true)
    {
        @await Html.PartialAsync("Shared/_MessageList", Model)
    }
    else
    {
        <em>There are no Messages so far.</em>
    }
</div>

@section Scripts {
    <partial name="/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml" />
}