@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
    if (TempData["FlashMessage"] != null)
    {
    <p>@TempData["FlashMessage"]</p>
    }
    }
</header>
