@page
@model RegisterModel

@{
    ViewData["Title"] = "Sign Up";
}

<h2>Sign Up</h2>

@if (Model.ErrorMessage != null)
{
<div class="error">
    <strong>Error:</strong> @Model.ErrorMessage
</div>
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <dl>
        <dt>Username:</dt>
        <dd>
            <input asp-for="Username" class="form-control" autocomplete="username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </dd>
        
        <dt>E-Mail:</dt>
        <dd>
            <input asp-for="Email" class="form-control" autocomplete="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </dd>

        <dt>Password:</dt>
        <dd>
            <input asp-for="Password" type="password" class="form-control" autocomplete="new-password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </dd>

        <dt>Password <small>(repeat)</small>:</dt>
        <dd>
            <input asp-for="Password2" type="password" class="form-control" autocomplete="new-password" />
            <span asp-validation-for="Password2" class="text-danger"></span>
        </dd>
    </dl>

    <div class="actions">
        <input type="submit" class="btn btn-primary" value="Sign Up" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

